.hour-fetch{
    border: 1px solid black;

    .hour-fetch{
        object-fit: cover;
        cursor: pointer;
    
    .video-hour-fetch{
        video{
            object-fit: cover;
            width: 241px;
            height: 322px;
            border-radius: 10px;
            border: 1px solid black;
        }
    
        img{
            object-fit: cover;
            width: 241px;
            height: 322px;
            border-radius: 10px;
            border: 1px solid black;
        }
    }
    
    .image-hour-title{
        margin-top: 1rem;
    }
    
    .hour-text{
        margin-left: 1.2rem;
        margin-top: -1.1rem;
        font-weight: 350;
    }
    
    .title-hour-trip{
        width: 241px;
        margin-top: 0.5rem;
        font-weight: 300;
    }
    
    .price-hour-trip{
        margin-top: 0.5rem;
        font-weight: 500;
    }
    }
}