.headerahost {
    background-color: black;
    height: 928px;
    width: 100%;
    margin-top: 190px;
    


    .titleahost {
        color: white;
        margin-left: 320px;
        margin-top: 160px;
        font-size: 70px;
        position: absolute;

        .buttonforahost {
            font-size: 16px;
            border: 1px solid black;
            padding: 10px 10px;
            width: 88px;
            background-color: #FF385C;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 32px;
            font-weight: 700;
        }

        
    }
    .video{
        margin-left: 64rem;
        margin-top: -7rem;
        object-fit: cover;
        object-position: center top;
    }

    .arrowahost{
        margin-left: 25rem;
        font-weight: 800;
        font-size: 20px;
        cursor: pointer;
    }
}

