.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color: black;
    color: #333;
    transform: translateY(0);
    transition: transform 6s ease;

    .logo {
        margin-left: 6rem;
        color: white;
        cursor: pointer;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .profile-links {
        display: flex;
        color: white;
        cursor: pointer;

        .profile-item1 {
            width: auto;
            margin: 0rem 15rem;
            margin-left: -12rem;
        }
        .profile-item2 {
            width: auto;
            margin: 0rem 15rem;
            margin-left: -13rem;
        }
        .profile-item3 {
            width: auto;
            margin: 0rem 10rem;
            margin-left: -13rem;
        }
    }
    .box3 {
        color: black;
        width: 10%;
        margin-top: 1rem;
        margin-left: -12rem;
        cursor: pointer;
    }
    .box5 {

        background-color: white;
        color: black;
        width: 110%;
        height: 110%;
        margin-top: 25rem;
        margin-left: -10.4rem;
        border-radius: 20px;
        cursor: pointer;

        .profile {
            font-size: 14px;
            padding: 0px 10px;

            .profile1 {
                padding: 0.5px 5px;
                margin-top: 0.5rem;

                &:hover {
                    background-color: rgb(226, 217, 217);
                    border-radius: 10px;
                }
            }

            .profile2 {
                color: gray;
                padding: 1px 5px;

                &:hover {
                    background-color: rgb(226, 217, 217);
                    border-radius: 10px;
                }
            }

            .profile3 {
                color: gray;
                width: auto;
                padding: 0.5px 5px;

                &:hover {
                    background-color: rgb(226, 217, 217);
                    border-radius: 10px;
                }
            }

            .profile4 {
                color: gray;
                width: auto;
                padding: 0.5px 5px;

                &:hover {
                    background-color: rgb(226, 217, 217);
                    border-radius: 10px;
                }
            }

            .profile5 {
                color: gray;
                width: auto;
                padding: 0.5px 5px;

                &:hover {
                    background-color: rgb(226, 217, 217);
                    border-radius: 10px;
                }
            }
        }
    }
    .hosts {
        width: 34%;
        height: 128px;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-left: -22rem;
        text-decoration: none;

        .language {
            width: auto;
            height: 25px;
            padding: 15px;
            cursor: pointer;
        }

        .profile-line {
            border: 1px solid white;
            border-radius: 99px;
            background-color: white;
            cursor: pointer;

            .profile {
                width: auto;
                margin-top: -2.6rem;
                margin-left: 1.8rem;
                height: 25px;
                padding: 10px;
                cursor: pointer;
            }

            .three-line {
                width: auto;
                height: 25px;
                padding: 5px;
                margin-top: 0.2rem;
                cursor: pointer;
            }
        }
        .host {
            padding: 10px 15px;
            cursor: pointer;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            color: white;
            

            &:hover {
                cursor: pointer;
                color: rgb(58, 78, 96);


            }
        }
    }
}
.header2 {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    background-color: white;
    color: black;
    transform: translateY(10);
    transition: transform 6s ease;
    animation: myanimation 3s;
    z-index: 2;
}

@keyframes myanimation {
    0% {
        background-color: transparent;
        color: transparent;
    }

    35% {
        background-color: white;
        color: black;
    }

    100% {
        background-color: white;
        color: black;
    }
}

.header.shadow {
    box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
    transform: translateY(-110%);
}

.logo {
    margin: 0 24px;
    font-size: 28px;
    color: red;
    margin-left: 6rem;
    cursor: pointer;

    a {
        color: red;
        text-decoration: none;
    }
}

.links {
    padding: 50px;
    margin: 0 50px;
    display: flex;
    width: auto;

    .link-item {
        width: 20rem;
        cursor: pointer;
        color: white;
        margin: 0rem -10rem;
        margin-left: 5rem;
    }
}

.hosts {
    width: 34%;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: -22rem;
    color: black;

    .language {
        width: auto;
        height: 25px;
        padding: 15px;
        cursor: pointer;
    }

    .profile-line {
        border: 1px solid white;
        border-radius: 99px;
        background-color: white;

        .profile {
            width: auto;
            margin-top: -2.6rem;
            margin-left: 1.8rem;
            height: 25px;
            padding: 10px;
            cursor: pointer;
        }

        .three-line {
            width: auto;
            height: 25px;
            padding: 5px;
            margin-top: 0.2rem;
            cursor: pointer;
        }
    }
    .host {
        padding: 10px 15px;
        cursor: pointer;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        color: black;

        &:hover {
            cursor: pointer;
            color: rgb(58, 78, 96);


        }
    }
}


.box3 {
    color: black;
    width: 10%;
    margin-top: 1rem;
    margin-left: -12rem;
    cursor: pointer;
}

.box5 {

    background-color: white;
    color: black;
    width: 110%;
    height: 110%;
    margin-top: 25rem;
    margin-left: -10.4rem;
    border-radius: 20px;
    cursor: pointer;

    .profile {
        font-size: 14px;
        padding: 0px 10px;

        .profile1 {
            padding: 0.5px 5px;
            margin-top: 0.5rem;

            &:hover {
                background-color: rgb(226, 217, 217);
                border-radius: 10px;
            }
        }

        .profile2 {
            color: gray;
            padding: 1px 5px;

            &:hover {
                background-color: rgb(226, 217, 217);
                border-radius: 10px;
            }
        }

        .profile3 {
            color: gray;
            width: auto;
            padding: 0.5px 5px;

            &:hover {
                background-color: rgb(226, 217, 217);
                border-radius: 10px;
            }
        }

        .profile4 {
            color: gray;
            width: auto;
            padding: 0.5px 5px;

            &:hover {
                background-color: rgb(226, 217, 217);
                border-radius: 10px;
            }
        }

        .profile5 {
            color: gray;
            width: auto;
            padding: 0.5px 5px;

            &:hover {
                background-color: rgb(226, 217, 217);
                border-radius: 10px;
            }
        }
    }
}