.head {
    margin-left: 5.2rem;
    margin-top: -2rem;
    width: auto;
    margin-right: 5rem;


    .main{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        border-radius: 10px;
        // background-color: rgb(200, 188, 188);

        img{
            border-radius: 10px;
            border: 0px solid black;
        }
    }
}

