.head {
    margin-left: 8.8rem;
    margin-top: -2.5rem;
    width: auto;
    margin-right: 9rem;
    font-size: 20px;

    h1{
        color: black;
    }

    .next-trip{
        margin-top: 2rem;

    .main{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        border-radius: 10px;
        cursor: pointer;
        
        .away{
            margin-top: 13rem;
            background-color: #d70466;
            width: 319px;
            height: 210px;
            margin-left: 10px;
            border-radius: 10px;

            .photo{
                margin-top: -45rem;
                margin-left: -0.4rem;
            }
        
        .title{
            color: white;
            font-size: 40px;
            width: 15rem;
            transform: translate(5%,-30%);
        }

        .description{
            color: rgb(255, 255, 255);
            font-size: 20px;
            
            transform: translate(4.5%,15%);
        }
    }
        img{
            border-radius: 10px;
            border: 0px solid black;
            margin-top: 5rem;

        }
    }
}
}
