.searchbox {
    align-items: center;
    margin-left: 42rem;
    padding: 20px;
    display: flex;
    max-width: fit-content;
    height: px;
    border: 1px solid lightgray;
    border-radius: 999px;
    background-color: white;
}

.searchbox > input{
    border: none;
    background-color: white;
    width: 550px;
    outline-width: 0;
}