.ahost-scroll{
    margin-top: 130px;

    .ahosttitleforscroll{
        width: 350px;
        font-size: 25px;
        margin-top: 20px;
    }

    .ahostsubtitleforscroll{

        margin-top: 20px;

       img{
           height: 40px;
       }
    }

    .ahostplaceforscroll{
        margin-top: 20px;
        font-weight: 200;
    }
}