.title-for-hour{
    font-size: 22px;
    font-weight: 600;
    margin-top: 4rem;
    margin-left: 105px;
    margin-bottom: 4rem;
}

.all-in-one{
    margin-left: 5rem;
    margin-bottom: 10rem;
    border: 1px solid gray;
    border-radius: 20px;
    height: 165px;
    padding: 20px 20px;
    width: 460px;

.video-image-hour{

    video{
        width: 123px;
        height: 163px;
        border: 1px solid gray;
        border-radius: 20px;
    }

    img{
        width: 123px;
        height: 163px;
        border: 1px solid gray;
        border-radius: 20px;
    }
}

.all-sub-text{
    margin-top: -8rem;
    margin-left: 10rem;
}

.hour-text{
    margin-left: 1.5rem;
    margin-top: -1.1rem;
    font-size: 13px;
}

.heart-hour{
    margin-left: 18rem;
    margin-top: -3rem;
}

.title-hour-trip{
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 25px;
}

.price-hour-trip{
    font-size: 15px;
    font-weight: 600;
    margin-top: -3px;
}
}


// .trip-fetch-hour{
//     border: 1px solid gray;
// }