.first-scroll{

color: aqua;

.first-scroll-image{

    img{
     
    width: 531px;
    height: 332px;
    margin-top:5rem;
    border-radius: 10px
}
}

.firstsubtitleforscroll{
    color: black;
    
    .firstplaceforscroll{
        
        width: 65px;
        padding: 8px 8px;
        border-radius: 7px;
        font-weight: 600;
        font-size: 15px;
        background-color: white;
        margin-top: -6rem;
        margin-left: 1.5rem;
        position: absolute;
    }
}
}