.book {
    background-color: black;
    height: 500px;




.booking {
    margin-left: 4rem;
    padding: 5rem;

    img {
        width: 101rem;
        align-items: center;
        border-radius: 10px;
    }

    .container {
        position: absolute;
        font-size: 1.25rem;
        top: 58rem;
        right: 42rem;
        color: white;
        transform: translate(3%, 315%);
        align-items: center;


        .button {
            padding: 0rem 2rem;
            cursor: pointer;
            width: 6.9rem;
            transform: translate(129%, 10%);
            border: 1px solid white;
            border-radius: 99px;
            background: linear-gradient(to right, #ffffff, #ffffff);
            font-size: small;
            margin-left: 0rem;
            


            h3 {
                padding: 15px;
                padding-top: 0rem;
                padding-bottom: 0rem;
                background: linear-gradient(90deg, #6F019C, #C6017E);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
    }

}}