.booking {
    margin-left: 0.2rem;
    padding: 5rem;

    img {
        width: 100%;
        align-items: center;
    }

    .container {
        position: absolute;
        font-size: 20px;
        top: 100%;
        right: 35%;
        color: white;
        transform: translate(3%, 135%);
    

    .button {
        padding: 0px 2px;
        cursor: pointer;
        width: 11rem;
        transform: translate(129%, 10%);
        border: 1px solid white;
        border-radius: 20px;
        background-color: black;

        h3{
            padding: 29px;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        &:hover {
            color: black;
            background-color: white;
            border: 1px solid black;
        }
        
    
        
    }
}
    
}