.aircover{

    
    
    .cover{
       margin-top: 35rem;
       background-color: #f7f7f7;
       width: 1695px;
       height: 756px;
       margin-left: 6.9rem;
       border-radius: 16px;


    img {
        width: 35%;
        height: 70%;
        margin-left: 1100px;
        margin-top: 100px;
    }
    }

    .cover2{
        margin-top: -35rem;
        
        img{
            width: 17%;
            height: 17%;
            margin-left: 200px;
            
            
        }

        .ptext{
            margin-left: 12.8rem;
            font-size: 30px;
            margin-top: 3.5rem;
        }

        .button{
            font-size: 16px;
            font-weight: 600;
            border: 1px solid black;
            width: 90px;
            padding: 13px 26px 13px 26px;
            margin-left: 12.8rem;
            margin-top: 3.5rem;
            background-color: white;
            border-radius: 8px;
        }
    }
}