.modalContainer{
    background-color: white;
    width: 750px;
    height: 580px;
    border: 1px solid black;    
    margin-left: 600px;
    overflow: scroll;
    border-radius: 15px;
    margin-top: 20px;

    .all{
        margin-left: 10px;
        line-height: 30px;
    }

    .title{
        margin-left: 25px;
    }

    .body{
        margin-left: 55px;
    
    p{
        margin-left: -25px;
        line-height: 30px;
    }
}
}