.footer {
    justify-content: space-between;
    margin-left: 0rem;
    margin-top: 1.5rem;
    width: 117.5rem;
    margin-right: 5rem;
    padding: 0 15px;
    display: flex;
    background:  #eee;
    height: 31rem;
    
   
    .container {
        margin-left: 3.2rem;
        margin-top: 8rem;
        width: auto;
        margin-right: 5rem;
        padding: 0 15px;
        
        
        .abc {
            padding: 0.6rem 0;
            color: black;
        }

        .efg{
            color: black;
        }
    
        a:link {
            text-decoration: none;
            
        }

    }
}