.load-more{
    margin-top: 5rem;
    margin-bottom: 3rem;
    border: 1px solid black;
    width: 80px;
    margin-left: 53rem;
    padding: 15px 25px;
    color: white;
    background-color: black;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}