.trip {
    padding: 2px 5px;
    margin-left: 4.9rem;

    img {
        display: inline-block;
        padding: 0px;
        width: 22.7%;
        margin-right: 2rem;
    }

    .box-trip {
        background-color: rgb(245, 104, 104);
        padding: 11.8rem;
        width: 2%;
        

        h2 {
            background-color: rgb(245, 104, 104);
            margin-right: 6rem;
            width: 1rem;
        }

        h3 {
            color: white;
            margin-right: 6rem;
        }

    }

    
}