.search-field{
    margin-left: 29rem;
    margin-top: -277rem;
    position: absolute;
}



.field{
    background-color: #ffffff;
    height: 10rem;
    width: 21rem;
    margin-left: -30px;
    margin-right: 80px;
    border-radius: 15px;
    border: 1px solid black;

    .location-button{
        border: 1px solid black;
        margin-left: 2rem;
        margin-top: 2rem;
        width: 16rem;
        padding: 10px 10px;
        border-radius: 99px;
        background: linear-gradient(to right, #972323, #600d0d);
        background: linear-gradient(90deg, #6F019C, #C6017E);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        
        &:hover{
            box-shadow: #6F019C;
        }
        
        

        .aero{
            margin-left: 15rem;
            margin-top: -1.1rem;
            background: linear-gradient(to right, #ffffff, #ffffff);
        }
    }
    .anywhere{
        margin-left: 2rem;
        margin-top: 1rem;
    }
}