.head {
    margin-left: 8.8rem;
    margin-top: -2.5rem;
    width: auto;
    margin-right: 9rem;
    font-size: 20px;

    h1 {
        color: black;
        position: absolute;
        margin-top: -60px;
        margin-left: 19px;

        @media screen and (max-width:1900px) and (min-width:1700px) {
            font-size: 40px;
            margin-left: -5.0rem;
            margin-top: -11rem;
        }

        @media screen and (max-width:1700px) and (min-width:1500px) {
            font-size: 40px;
            margin-left: -5.5rem;
            margin-top: -13rem;
        }

        @media screen and (max-width:1500px) and (min-width:1300px) {
            font-size: 40px;
            margin-left: -5.5rem;
            margin-top: -15rem;
        }

        @media screen and (max-width:1300px) and (min-width:1100px) {
            font-size: 35px;
            margin-left: -5.5rem;
            margin-top: -23rem;
        }

        @media screen and (max-width:1100px) and (min-width:900px) {
            font-size: 31px;
            margin-left: -5.5rem;
            margin-top: -25rem;
        }

        @media screen and (max-width:900px) and (min-width:700px) {
            font-size: 27px;
            margin-left: -5.5rem;
            margin-top: -25rem;
        }

        @media screen and (max-width:700px) and (min-width:600px) {
            font-size: 20px;
            margin-left: -5.5rem;
            margin-top: -25rem;
        }

        @media screen and (max-width:600px) {
            font-size: 20px;
            margin-left: -5.5rem;
            margin-top: -30rem;
        }

        @media screen and (max-width:500px) {
            font-size: 20px;
            margin-left: -6.5rem;
            margin-top: -8rem;

        }

    }

    .next-trip {
        margin-top: 6rem;

        .main {
            display: flex;
            width: 100%;
            height: auto;
            justify-content: space-between;
            border-radius: 10px;
            cursor: pointer;

            @media screen and (max-width:500px) {
                margin-top: -25rem;

            }

            .away1 {
                margin-top: 13rem;
                background-color: #d70466;
                width: 319px;
                height: 210px;
                margin-left: 10px;
                border-radius: 10px;

                @media screen and (max-width:500px) {
                    margin-left: -105px;
                    margin-right: 220px;
                    margin-top: 115px;

                }

                .photo {
                    margin-top: -45rem;
                    margin-left: -0.4rem;
                    
                    // img{
                    //     width:50%;
                    // }
                }

                .title {
                    color: white;
                    font-size: 40px;
                    width: 15rem;
                    transform: translate(5%, -30%);
                }

                .description {
                    color: rgb(255, 255, 255);
                    font-size: 20px;

                    transform: translate(4.5%, 15%);
                }
            }

            .away2 {
                margin-top: 13rem;
                background-color: #d70466;
                width: 319px;
                height: 210px;
                margin-left: 10px;
                border-radius: 10px;

                @media screen and (max-width:500px) {
                    margin-left: -538px;
                    margin-right: 220px;
                    margin-top: 535px;

                }

                .photo {
                    margin-top: -45rem;
                    margin-left: -0.4rem;
                }

                .title {
                    color: white;
                    font-size: 40px;
                    width: 15rem;
                    transform: translate(5%, -30%);
                }

                .description {
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                    transform: translate(4.5%, 15%);
                }
            }

            .away3 {
                margin-top: 13rem;
                background-color: #d70466;
                width: 319px;
                height: 210px;
                margin-left: 10px;
                border-radius: 10px;

                @media screen and (max-width:500px) {
                    margin-left: -538px;
                    margin-right: 220px;
                    margin-top: 955px;

                }

                .photo {
                    margin-top: -45rem;
                    margin-left: -0.4rem;
                }

                .title {
                    color: white;
                    font-size: 40px;
                    width: 15rem;
                    transform: translate(5%, -30%);
                }

                .description {
                    color: rgb(255, 255, 255);
                    font-size: 20px;

                    transform: translate(4.5%, 15%);
                }
            }

            .away4 {
                margin-top: 13rem;
                background-color: #d70466;
                width: 319px;
                height: 210px;
                margin-left: 10px;
                border-radius: 10px;

                @media screen and (max-width:500px) {
                    margin-left: -538px;
                    margin-right: 220px;
                    margin-top: 1380px;

                }

                .photo {
                    margin-top: -45rem;
                    margin-left: -0.4rem;
                }

                .title {
                    color: white;
                    font-size: 40px;
                    width: 15rem;
                    transform: translate(5%, -30%);
                }

                .description {
                    color: rgb(255, 255, 255);
                    font-size: 20px;

                    transform: translate(4.5%, 15%);
                }
            }

            img {
                border-radius: 10px;
                border: 0px solid black;
                margin-top: 5rem;

            }
        }
    }
}