.head {
    margin-left: 8.8rem;
    margin-top: -3.5rem;
    width: auto;
    margin-right: 9rem;
    font-size: 20px;

    h1 {
        color: black;
        position: absolute;
        margin-top: -60px;
        margin-left: 19px;

        @media screen and (max-width:1900px) and (min-width:1700px) {
            font-size: 40px;
            margin-left: -5.0rem;
            margin-top: -11rem;
        }

        @media screen and (max-width:1700px) and (min-width:1500px) {
            font-size: 40px;
            margin-left: -5.5rem;
            margin-top: -13rem;
        }

        @media screen and (max-width:1500px) and (min-width:1300px) {
            font-size: 40px;
            margin-left: -5.5rem;
            margin-top: -15rem;
        }

        @media screen and (max-width:1300px) and (min-width:1100px) {
            font-size: 35px;
            margin-left: -5.5rem;
            margin-top: -23rem;
        }

        @media screen and (max-width:1100px) and (min-width:900px) {
            font-size: 31px;
            margin-left: -5.5rem;
            margin-top: -25rem;
        }

        @media screen and (max-width:900px) and (min-width:700px) {
            font-size: 27px;
            margin-left: -5.5rem;
            margin-top: -25rem;
        }

        @media screen and (max-width:700px) and (min-width:600px) {
            font-size: 20px;
            margin-left: -5.5rem;
            margin-top: -25rem;
        }

        @media screen and (max-width:600px) {
            font-size: 20px;
            margin-left: -5.5rem;
            margin-top: -30rem;
        }

        @media screen and (max-width:500px) {
            font-size: 20px;
            margin-left: -6.5rem;
            margin-top: -8rem;

        }

    }

    .next-trip {
        margin-top: 6rem;

        .main {
            display: flex;
            width: 100%;
            height: auto;
            justify-content: space-between;
            border-radius: 10px;
            cursor: pointer;

            @media screen and (max-width:500px) {
                margin-top: -25rem;

            }

            .away1 {
                margin-top: 13rem;
                background-color: #d70466;
                width: 319px;
                height: 210px;
                margin-left: 10px;
                border-radius: 10px;

                @media screen and (max-width:1900px) and (min-width:1700px) {
                    margin-left: -60px;
                    margin-right: 220px;
                    margin-top: 115px;
                }

                @media screen and (max-width:1700px) and (min-width:1500px) {
                    margin-left: -60px;
                    margin-right: 220px;
                    margin-top: 115px;
                }

                @media screen and (max-width:1500px) and (min-width:1300px) {
                    margin-left: -80px;
                    margin-right: 220px;
                    margin-top: 65px;
                }

                @media screen and (max-width:1300px) and (min-width:1100px) {
                    margin-left: -80px;
                    margin-right: 220px;
                    margin-top: -105px;
                    height: 200px;
                    width: 250px;

                    img {
                        width: 250px;
                        margin-top: 130px;
                    }
                }

                @media screen and (max-width:1100px) and (min-width:900px) {
                    margin-left: -80px;
                    margin-right: 220px;
                    margin-top: -185px;
                    height: 150px;
                    width: 189px;

                    img {
                        width: 190px;
                        margin-top: 160px;
                    }
                }

                @media screen and (max-width:900px) and (min-width:700px) {
                    margin-left: -80px;
                    margin-right: 220px;
                    margin-top: -125px;
                }

                @media screen and (max-width:700px) {
                    margin-left: -88px;
                    margin-right: 220px;
                    margin-top: -295px;
                    width: 200px;
                    height: 170px;

                    img {
                        width: 200px;
                        margin-top: 170px;
                    }

                }

                @media screen and (max-width:500px) {
                    margin-left: -60px;
                    margin-right: 220px;
                    margin-top: 55px;

                    width: 300px;
                    height: 270px;

                    img {
                        width: 300px;
                        margin-top: 170px;
                    }
                }


                .photo {
                    margin-top: -45rem;
                    margin-left: -0.4rem;
                }




                .title {
                    color: white;
                    font-size: 40px;
                    width: 15rem;
                    transform: translate(5%, -30%);
                }

                .description {
                    color: rgb(255, 255, 255);
                    font-size: 20px;

                    transform: translate(4.5%, 15%);
                }
            }

            .away2 {
                margin-top: 13rem;
                background-color: #d70466;
                width: 319px;
                height: 210px;
                margin-left: 10px;
                border-radius: 10px;

                @media screen and (max-width:1900px) and (min-width:1700px) {
                    margin-left: -100px;
                    margin-right: 220px;
                    margin-top: 115px;
                }

                @media screen and (max-width:1700px) and (min-width:1500px) {
                    margin-left: -150px;
                    margin-right: 220px;
                    margin-top: 115px;
                }

                @media screen and (max-width:1500px) and (min-width:1300px) {
                    margin-left: -200px;
                    margin-right: 220px;
                    margin-top: 65px;
                }

                @media screen and (max-width:1300px) and (min-width:1100px) {
                    margin-left: -160px;
                    margin-right: 220px;
                    margin-top: -105px;
                    height: 200px;
                    width: 250px;

                    img {
                        width: 250px;
                        margin-top: 130px;
                    }
                }

                @media screen and (max-width:1100px) and (min-width:900px) {
                    margin-left: -180px;
                    margin-right: 220px;
                    margin-top: -185px;
                    height: 150px;
                    width: 189px;

                    img {
                        width: 190px;
                        margin-top: 160px;
                    }
                }

                @media screen and (max-width:900px) and (min-width:700px) {
                    margin-left: -210px;
                    margin-right: 220px;
                    margin-top: -125px;
                }

                @media screen and (max-width:700px) {
                    margin-left: -138px;
                    margin-right: 220px;
                    margin-top: -295px;
                    width: 200px;
                    height: 170px;

                    img {
                        width: 200px;
                        margin-top: 170px;
                    }

                }



                @media screen and (max-width:500px) {
                    margin-left: -517px;
                    margin-right: 220px;
                    margin-top: 500px;

                    width: 300px;
                    height: 270px;

                    img {
                        width: 300px;
                        margin-top: 170px;
                    }
                }

                .photo {
                    margin-top: -45rem;
                    margin-left: -0.4rem;
                }

                .title {
                    color: white;
                    font-size: 40px;
                    width: 15rem;
                    transform: translate(5%, -30%);
                }

                .description {
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                    transform: translate(4.5%, 15%);
                }
            }

            .away3 {
                margin-top: 13rem;
                background-color: #d70466;
                width: 319px;
                height: 210px;
                margin-left: 10px;
                border-radius: 10px;

                @media screen and (max-width:1900px) and (min-width:1700px) {
                    margin-left: -100px;
                    margin-right: 220px;
                    margin-top: 115px;
                }

                @media screen and (max-width:1700px) and (min-width:1500px) {
                    margin-left: -150px;
                    margin-right: 220px;
                    margin-top: 115px;
                }

                @media screen and (max-width:1500px) and (min-width:1300px) {
                    margin-left: -200px;
                    margin-right: 220px;
                    margin-top: 65px;
                }

                @media screen and (max-width:1300px) and (min-width:1100px) {
                    margin-left: -160px;
                    margin-right: 220px;
                    margin-top: -105px;
                    height: 200px;
                    width: 250px;

                    img {
                        width: 250px;
                        margin-top: 130px;
                    }
                }

                @media screen and (max-width:1100px) and (min-width:900px) {
                    margin-left: -180px;
                    margin-right: 220px;
                    margin-top: -185px;
                    height: 150px;
                    width: 189px;

                    img {
                        width: 190px;
                        margin-top: 160px;
                    }
                }

                @media screen and (max-width:900px) and (min-width:700px) {
                    margin-left: -1000px;
                    margin-top: 355px;
                }

                @media screen and (max-width:700px) {
                    margin-left: -700px;
                    margin-right: 220px;
                    margin-top: 45px;
                    width: 200px;
                    height: 170px;

                    img {
                        width: 200px;
                        margin-top: 170px;
                    }

                }

                @media screen and (max-width:500px) {
                    margin-left: -519px;
                    margin-right: 220px;
                    margin-top: 950px;

                    width: 300px;
                    height: 270px;

                    img {
                        width: 300px;
                        margin-top: 170px;
                    }
                }

                .photo {
                    margin-top: -45rem;
                    margin-left: -0.4rem;
                }

                .title {
                    color: white;
                    font-size: 40px;
                    width: 15rem;
                    transform: translate(5%, -30%);
                }

                .description {
                    color: rgb(255, 255, 255);
                    font-size: 20px;

                    transform: translate(4.5%, 15%);
                }
            }

            .away4 {
                margin-top: 13rem;
                background-color: #d70466;
                width: 319px;
                height: 210px;
                margin-left: 10px;
                border-radius: 10px;

                @media screen and (max-width:1900px) and (min-width:1700px) {
                    margin-left: -100px;
                    margin-right: 220px;
                    margin-top: 115px;
                }

                @media screen and (max-width:1700px) and (min-width:1500px) {
                    margin-left: -150px;
                    margin-right: 220px;
                    margin-top: 115px;
                }

                @media screen and (max-width:1500px) and (min-width:1300px) {
                    margin-left: -200px;
                    margin-right: 220px;
                    margin-top: 65px;
                }

                @media screen and (max-width:1300px) and (min-width:1100px) {
                    margin-left: -160px;
                    margin-right: 220px;
                    margin-top: -105px;
                    height: 200px;
                    width: 250px;

                    img {
                        width: 250px;
                        margin-top: 130px;
                    }
                }

                @media screen and (max-width:1100px) and (min-width:900px) {
                    margin-left: -180px;
                    margin-right: 220px;
                    margin-top: -185px;
                    height: 150px;
                    width: 189px;

                    img {
                        width: 190px;
                        margin-top: 160px;
                    }
                }

                @media screen and (max-width:900px) and (min-width:700px) {
                    margin-top: 355px;
                    margin-right: -50px;
                }

                @media screen and (max-width:700px) {
                    margin-left: -140px;
                    // margin-right: 220px;
                    margin-top: 45px;
                    width: 200px;
                    height: 170px;

                    img {
                        width: 200px;
                        margin-top: 170px;
                    }

                }



                @media screen and (max-width:500px) {
                    margin-left: -519px;
                    margin-right: 220px;
                    margin-top: 1400px;

                    width: 300px;
                    height: 270px;

                    img {
                        width: 300px;
                        margin-top: 170px;
                    }
                }

                .photo {
                    margin-top: -45rem;
                    margin-left: -0.4rem;
                }

                .title {
                    color: white;
                    font-size: 40px;
                    width: 15rem;
                    transform: translate(5%, -30%);
                }

                .description {
                    color: rgb(255, 255, 255);
                    font-size: 20px;

                    transform: translate(4.5%, 15%);
                }
            }

            img {
                border-radius: 10px;
                border: 0px solid black;
                margin-top: 5rem;

            }
        }
    }
}