.exe {
    margin-left: 8.2rem;
    margin-top: 5rem;
    width: auto;

    .ex {
        display: flex;
        width: auto;
        height: auto;
        // justify-content: space-between;
        border-radius: 10px;


        img {
            border-radius: 10px;
            width: 51rem;
            border: 0px solid black;
        }

        .container {

            position: absolute;
            font-size: 25px;
            right: 78%;
            top: 120%;
            color: white;
            transform: translate(50%, 575%);


            .button {
                padding: 5px 25px;
                cursor: pointer;
                width: 5.5rem;
                padding: -20px;
                font-size: small;
                border-radius: 10px;
                background-color: white;
                color: black;

                &:hover{
                    background-color: rgb(234, 234, 234);
                }
            }
        }

        .containerr {
            position: absolute;
            font-size: 25px;
            right: 12%;
            top: 165.5%;
            color: white;
            transform: translate(-125%, 400%);


            .buttonn {
                padding: 5px 25px;
                cursor: pointer;
                width: 9rem;
                font-size: small;
                padding: -20px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: white;
                color: black;

                &:hover{
                    background-color: rgb(234, 234, 234);
                    
                }
            }
        }
    }

}