
.navheader.active{
    color: aqua;
    position: absolute;
}

.header_logo {
    display: flex;
    height: 148px;
    width: 100%;
    cursor: pointer;
    background-color: black;
    position: fixed;
    z-index: 999;
    top: 0%;
    background: no-repeat /cover;
    transition: 3.5s;

    .text{
        color: white;
        margin-top: 2.4rem;
        margin-left: 11.5rem;
        font-size: 200%;
        cursor: pointer;
        
    }

    .logo{
        color: white;
        margin-top: 2.4rem;
        margin-left: -7.5rem;
        cursor: pointer;

    }
}

    .options {
        width: 48.5%;
        height: 128px;
        display: flex;
        align-items: center;
        justify-content: right;
        column-count: 3;
        column-gap: 28.8px;
        border-radius: 10px;
        color: white;
        

        .option{
            cursor: pointer;
            align-items: center;
            padding: 5px;
            
           

            &:hover{
                cursor: pointer;
                color: rgb(58, 78, 96);
                
            }

        }
        
    }
    .hosts{
        width: 35%;
        height: 128px;
        display: flex;
        align-items: center;
        justify-content: right;

        .language{
            width: 5%;
            height: 25px;
            padding: 15px;
            cursor: pointer;

        }
        
        .profile{
            width: 3%;
            height:25px;
            padding: 15px;
            cursor: pointer;
        }

        .host{
            padding: 10px 15px;
            cursor: pointer;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            color: white;

            &:hover{
                cursor: pointer;
                color: rgb(58, 78, 96);
                

            }

        
    }


}



// .header--animated {
//     background: rgba(255, 255, 255, 0.3);
//     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
//     backdrop-filter: blur(4px);
//     box-shadow: rgba(255, 255, 255, 0.3);
//     transition: all 0.1s;
  
//   }
  
//   .header--animated > h3 {
//     color: white;
//   }

//   head.black{
//       background-color: blue;
//   }

// .header_logo.active{
//     background-color: white;
// }


