.header_logo {
    display: flex;
    height: 7rem;
    width: 100vw;
    margin-left: 4rem;
    cursor: pointer;

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        column-count: 3;
        column-gap: 1.8rem;
        border-radius: 10px;
        color: red;
        
        

        .option{
            cursor: pointer;
            align-items: center;
            padding: 5px;
            border-radius: 10px;
           

            &:hover{
                cursor: pointer;
                color: rgb(58, 78, 96);
                border: 1px solid black;
            }

        }
        
    }
    .hosts{
        width: 35%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: right;

        img{
            width: 3rem;
            height: 2rem;
            padding: 15px;
            cursor: pointer;
            border-radius: 20px; 
        }
        

        .host{
            padding: 10px 15px;
            cursor: pointer;
            align-items: center;
            padding: 15px;
            border-radius: 10px;
            color: red;

            &:hover{
                cursor: pointer;
                color: rgb(58, 78, 96);
                border: 1px solid black;

            }

        }
    }

}

