// .canhost{
//   margin-left: 35rem;
//   font-size: 25px;
//   font-weight: 500;
// }

.hostdrop{
  font-size: 64px;
  line-height: 68px;
  margin-right: 48px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-top: 100px;
}