.language-info{
    
    height: 3.2rem;
    padding: 5px 15px;
    margin-bottom: 1rem;
    width: 10rem;
    margin-left: 2rem;
    margin-top: 3rem;
    border-radius: 10px;
    cursor: pointer;

    &:hover{
        background-color: rgba(234, 234, 234, 0.631);
    }
    
   
    h3{
        margin-top: 0rem;
        font-size: 15px;
        padding: 0px;
        font-weight: normal;
    }

    h4{
        margin-top: -0.7rem;
        color: gray;
        font-size: 12px;
        font-weight: normal;
    }
}