.maindaterange{
    margin-left: 27rem;
    margin-top: -280rem;
    background-color: white;
    width: 62rem;
    position: absolute;
    border-radius: 50px;
    height: 35rem;

    .main-tab{
        cursor: pointer;
        display: flex;
        margin-left: 25rem;
        margin-bottom: 3rem;

    .tab{
        font-size: 20px;
        font-weight: 300;
        margin-top: 2rem;
    }

    .tab2{
        font-size: 20px;
        font-weight: 300;
        margin-left: 2rem;
        margin-top: 2rem;
    }
}

    .daterange{
        color: black;
        height: 25rem;
        width: 60rem;
        background-color: white;
    }

    .stay{
        margin-top: -25rem;
        font-size: 25px;
        font-weight: 200;
        margin-left: 21.2rem;
    }

    .days{
        display: flex;
        margin-left: 22.5rem;
        margin-top: 3rem;
        

        .weekend{
            margin-right: 2rem;
            padding: 5px 10px;
            border-radius: 50px;
            background-color: rgb(234, 234, 234);
            cursor: pointer;

            &:hover{
                border: 1px solid black;
                transition: transform 0.75s ease-out;
                transform: scale(1.1);
            }
        }

        .week{
            padding: 5px 10px;
            border-radius: 50px;
            background-color: rgb(234, 234, 234);
            cursor: pointer;

            &:hover{
                border: 1px solid black;
                transition: transform 0.75s ease-out;
                transform: scale(1.1);
            }
        }

        .month{
            margin-left: 2rem;
            padding: 5px 10px;
            border-radius: 50px;
            background-color: rgb(234, 234, 234);
            cursor: pointer;

            &:hover{
                border: 1px solid black;
                transition: transform 0.75s ease-out;
                transform: scale(1.1);
            }
        }

       

    }

    .want{
        font-size: 22px;
        font-weight: 200;
        margin-left: 24rem;
        margin-top: 3rem;
    }
}
