.searchmain {
    background-color: black;
    width: 119.09rem;
    

    .searchbox {
        margin-left: 27rem;
        margin-top: 9.4rem;
        margin-right: 30rem;
        display: flex;
        border: 1px solid lightgray;
        border-radius: 999px;
        background-color: white;
        cursor: pointer;
        justify-content: space-between;
        padding: 0rem 0rem;

        .search-icon{
            height: 2rem;
            width: 2rem;
            margin-top: 2rem;
            margin-right: 2rem;
            
        }

        .location-main-search{
            
            &:hover{
                background-color: rgb(235, 235, 235);
                border-radius: 999px;
            }
 
        .location {
            color: black;
            border-radius: 99px;
            padding: 10px 50px;
            margin-left: 0rem;

            .search-loc{
                margin-top: -1.5rem;      
                

            input{
                border: none;
                margin-left: -0.1rem;
                border-radius: 999px;
                outline-width: 0;
                
            } 
            }
        }
    }

        .location1 {
            color: black;
            border-radius: 999px;
            padding: 10px 86px;
            margin-left: -3.8rem;
           
            h5 {
                margin-top: -1.2rem;
                color: grey
            }

            &:hover {
                background-color: rgb(235, 235, 235);
            }
        }

        .location2 {
            color: black;
            border-radius: 999px;
            padding: 10px 86px;
            margin-left: -3.8rem;

            h5 {
                margin-top: -1.2rem;
                color: grey
            }

            &:hover {
                background-color: rgb(235, 235, 235);
                width: auto;

            }
        }

        .location3 {
            color: black;
            border-radius: 999px;
            padding: 10px 85px;
            margin-left: -3.8rem;
    

            h5 {
                margin-top: -1.2rem;
                color: grey
            }

            &:hover {
                background-color: rgb(235, 235, 235);
                width: auto;

            }
        }    
    }

    
    .calendar{
        margin-left: -30.5rem;
        margin-top: 7.5rem;
        z-index: 1;
        position: absolute;
    }
}

.searchbox>input {
    border: none;
    background-color: white;
    width: 690px;
    outline-width: 0;

}

    
