.footer{
    display: flex;
    justify-content: space-between;

.container1{
    margin-left: 05.2rem;
    margin-top: 10rem;
    width: auto;
    margin-right: 5rem;
}

.container2{
    margin-left: 05.2rem;
    margin-top: 10rem;
    width: auto;
    margin-right: 5rem;
}
.container3{
    margin-left: 05.2rem;
    margin-top: 10rem;
    width: auto;
    margin-right: 5rem;
}
.container4{
    margin-left: 05.2rem;
    margin-top: 10rem;
    width: auto;
    margin-right: 5rem;
}
}