.footer {

    justify-content: space-between;
    margin-left: 0.2rem;
    margin-top: 0.5rem;
    width: auto;
    margin-right: 5rem;
    padding: 0 15px;
    display: flex;

    .abc {
        padding: 0.6rem 0;
    }

    a:link {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .container {
        margin-left: 3.2rem;
        margin-top: 7rem;
        width: auto;
        margin-right: 5rem;
        padding: 0 15px;


    }
}