.titleopen{
    margin-left: 800px;
    margin-top: 120px;
    cursor: pointer;
    text-decoration: underline;

.estimate{
    margin-left: 800px;
    margin-top: 520px;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
}
}