.que {
    display: flex;
    border-radius: 10px;
    margin-left: 8.2rem;
    margin-top: 5rem;
    margin-right: 8rem;

    img {
        border-radius: 10px;
        width: 120rem;
        border: 0px solid black;
    }

    .container {

        position: absolute;
        font-size: 40px;
        right: 68%;
        top: 265%;
        color: white;
        margin-top: 60rem;
        // transform: translate(-153%, 300%);


        .button {
            padding: 5px 10px;
            cursor: pointer;
            width: 8.1rem;
            font-size: 14px;
            transform: translate(7%,390%);
            border-radius: 10px;
            color: black;
            background-color: white;

            &:hover{
                background-color: rgb(234, 234, 234);
            }
        }
    }
}