.imageforfirst{

    .next-week{
    margin-top: 12rem;
    font-size: 45px;
    line-height: 36px;
    font-weight: 800;
    color: black;
    margin-left: 105px;
    }

    .fetchfirst{
        margin-left: 1.2rem;
        

        // .subtitle-on{
        //     margin-top: -22rem;
        //     margin-left: 7rem;
        //     position: absolute;
        //     color: white;
        //     font-size: 12px;
        // }
    }
}